<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="imu" params="parent_link:=base_link *origin">
    <link name="imu_link"/>

    <joint name="imu_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="imu_link"/>
      <xacro:insert_block name="origin" />
    </joint>
  
    <gazebo>
      <plugin filename="libgazebo_ros_imu_sensor.so"
              name="gazebo_ros_imu_sensor">
        <ros>
          <namespace>/</namespace>
          <remapping>~/out:=imu/data</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
    </gazebo>

    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <topic>imu/data</topic>
        <update_rate>50</update_rate>
        <always_on>true</always_on>
        <visualize>true</visualize>
      </sensor>
    </gazebo> 
  </xacro:macro>
</robot>
